<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
          <li><a class="navbar-link" href="{% url 'index' %}">Index</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="navbar-link" href="{% url 'suyog:register' %}">Register</a></li>
          <li><a class="navbar-link" href="{% url 'suyog:rovn' %}">Rover</a></li>
          <li><a class="navbar-link" href="{% url 'suyog:boostn' %}">Booster</a></li>
          <li><a class="navbar-link" href="{% url 'suyog:flapn' %}">Flaps</a></li>
          <li><a class="navbar-link" href="{% url 'harry' %}">Success</a></li>

          {% if user.is_authenticated %}
          <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a> </li>
          {% else %}
          <li><a class="navbar-link"  href="{% url 'suyog:user_login'%}">Login</a> </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
